# Build results
bin/
obj/
[Bb]uild/
[Ll]og/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/
.vscode/
*.vcxproj.filters

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec
*.psmdcp

# Compiled binaries
*.exe
*.dll
*.pdb

# OS files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Backup & temporary files
*.tmp
*.bak
*.log
*.swp
*.zip

# Rider / JetBrains IDE
.idea/

# Dotnet artifacts
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json

# Publish outputs
publish/
